.s1{
    color: aqua;
}
.s2{
    background-color: blue;
}
.s3{
    text-align: center;
}
.s4{
    font-weight: lighter;
}
.s5{
    border: 3px solid red;
}
.s6{
    margin: 10px;
    padding: 10px;
}